body {
}
h1 {
  font-size: 2.3em;
  font-family: times; 
  color: black;
  word-spacing: 0.66em;
}
.inner-body {
  width: 23.232323232em;
  margin-bottom: 23em;
  margin-left: 0px;
  word-break: break-all;
}
.date {
  color: rgb(34, 34, 34);
  font-family: times;
  font-size: 2.3em;
  font-style: normal;
  line-height: 0.3em;
}
.answer {
  color: black;
  font-family: Times;
  font-size: 0.989em;
  text-align: left;
  line-height: 1.95;
  margin-bottom: 3em;
  margin-left: 0em;
}
.answer1 {
  color: black;
  font-family: Times;
  font-size: 0.898em;
  text-align: left;
  margin-bottom: 3em;
  margin-left: 0.3em;
}
.answer2 {
  position: absolute;
  font-family: times;
  bottom: 2.3em;
  left: 0em;
  font-style: normal;
  font-size: 16px;
}
footer {
  position: absolute;
  font-family: times;
  bottom: 10px;
  right: 10px;
  font-style: normal;
  font-size: 0.66em;
}
h2 {
  color: blue;
  font-family: times;
  text-align: right;
  word-spacing: 3em;
  font-size: 22px;
  font-family: arial;
  font-weight: 300;
}
