body {
}
@font-face {
  font-family: myTimes1; 
  src: url(romane.otf); 
}
@font-face {
  font-family: myTimes2; 
  src: url(italic.otf); 
}
@font-face {
  font-family: myTimes3; 
  src: url(bolditalic.otf); 
}
@font-face {
  font-family: myTimes4; 
  src: url(semibold.otf); 
}
@font-face {
  font-family: myTimes5; 
  src: url(semibolditalic.otf); 
}
@font-face {
  font-family: myTimes6; 
  src: url(extrabold.otf); 
}
@font-face {
  font-family: myTimes7; 
  src: url(bold.otf); 
}
@font-face {
  font-family: myTimes8; 
  src: url(phonetic.otf); 
}
h1 {
  font-size: 2.3em;
  font-family: myTimes1; 
  color: black;
  word-spacing: 0.66em;
}
.inner-body {
  width: 23.232323232em;
  margin-bottom: 23em;
  margin-left: 0px;
  
}
.date {
  color: rgb(34, 34, 34);
  font-family: myTimes1;
  font-size: 2.3em;
  font-style: normal;
  line-height: 0.3em;
  margin-left: 0.35em;
}
.date2 {
  color: rgb(34, 34, 34);
  font-family: myTimes1;
  text-align: right;
  font-size: 2.3em;
  font-style: normal;
  line-height: 0.3em;
  margin-left: 0.9em;
}
.answer {
  color: black;
  font-family: myTimes1;
  font-size: 0.989em;
  text-align: left;
  line-height: 1.95;
  margin-bottom: 3em;
  margin-left: 0em;
  word-break: break-all;
}
.answer1 {
  color: black;
  font-family: myTimes2;
  font-style: italic;
  font-size: 0.898em;
  text-align: left;
  margin-bottom: 3em;
  margin-left: 0.9em;
}
.answer2 {
  position: absolute;
  font-family: myTimes1;
  bottom: 2.3em;
  left: 0em;
  font-style: normal;
  font-size: 16px;
}
.answer3 {
color: red;
  font-family: myTimes8;
  font-size: 0.989em;
  text-align: left;
  line-height: 0.3em;
  margin-left: 0em;
  word-break: break-all;
}  
img {
  border: 0.1px solid blue;
  border-radius: 0.3em;
  padding: 1.5em;
  width: 6.6em;
  height:3.0em;
}
footer {
  position: absolute;
  font-family: myTimes1;
  bottom: 10px;
  right: 10px;
  font-style: normal;
  font-size: 0.66em;
}
h2 {
  color: blue;
  font-family: 'Times New Roman';
  text-align: right;
  word-spacing: 3em;
  font-size: 22px;
  font-family: arial;
  font-weight: 300;
}
